{% extends "baza.html" %}

{% block body_nag %}
Odpowiedz na pytania by dobrać swoją pompę:
{% endblock%}

{% block body_zaw %}
   
    <form class="row g-3" id="formularz_doboru" action="{{url_for('doborpompy')}}" method="POST">
      <div class="col-md-6">
        <label for="metry" class="form-label">Podaj ile m2 ma Twój dom</label>
        <input type="etext" class="form-control" id="metry" name="metry" placeholder="250">
      </div>
      <div class="col-md-6">
        <label for="metry_ogrzewane" class="form-label">Podaj ilość m2 ogrzewanych</label>
        <input type="text" class="form-control" id="metry_ogrzewane" name="metry_ogrzewane" placeholder="200">
      </div>
      <div class="col-12">
        <label for="ilosc_osob" class="form-label">Podaj ile osób mieszka w domu</label>
        <input type="text" class="form-control" id="ilosc_osob" placeholder="1-20">
      </div>
      <div class="col-auto">
        <label class="visually-hidden" for="typ_domu">Wybierz typ swojego domu:</label>
        <select class="form-select" id="typ_domu" name="typ_domu">
          <option selected>Wybierz</option>
          <option value="niezaizolowany">Niezaizolowany</option>
          <option value="pasywny">Pasywny</option>
          <option value="energooszczędny">Energooszczędny</option>
          <option value="zaizolowany">Zaizolowany</option>
        </select>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="dofinansowanie" name="dofinansowanie" value="dofinansowanie">
          <label class="form-check-label" for="dofinansowanie">
            Będe starał się o dofinansowanie
          </label>
        </div>
      </div>
      <div class="col-auto">
        <label class="visually-hidden" for="budget">Jaki chcesz rodzaj pompy:<</label>
        <select class="form-select" id="budget" name="budget">
          <option selected>Wybierz</option>
          <option value="budget">Budget</option>
          <option value="standard">Standard</option>
          <option value="premium">Premium</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="zrodlo" class="form-label">Jakie jest żródło ogrzewania domu:</label>
        <select id="zrodlo" class="form-select" name="zrodlo">
          <option selected>Wybierz</option>
          <option value="grzejniki">Grzejniki</option>
          <option value="ogrzewanie_podlogowe">Ogrzewanie podłogowe</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="powietrze_woda" class="form-label">Czy pompa ma być wpowietrzna czy wodna:</label>
        <select id="powietrze_woda" class="form-select" name="powietrze_woda">
          <option selected>Wybierz</option>
          <option value="powietrze">Powietrze</option>
          <option value="woda">Woda</option>
          <option value="nie_wiem">Nie wiem</option>
        </select>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Wyślij</button>
      </div>
    </form>
    {% endblock %}