{% extends "baza.html" %}

{% block body_nag %}

<div class="container">

    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-10" style="text-align: center;">
        <h1>Witamy na stronie doboru swojej pompy ciepła</h1>
        <img src="{{ url_for('static', filename='pompaciepla.jpg') }}" style="width:500px;height:400px"><br>
        <h2>Aby zacząć dobierać swoją pompę wejdź w zakładkę dobór pompy</h2>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>
{% endblock %}

